<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">
                    <i class="fa fa-list"></i> Movimientos de cerdo en galpones 
                </h1>
            </div>

            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin">Inicio</a></li>
                    <li class="breadcrumb-item active">Movimientos de cerdo en galpones</li>
                </ol>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Movimientos de cerdo en galpones </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="form-group col-lg-2 col-2">
                                    <label for="fecha_i">Fecha inicio</label>
                                    <input type="date" class="form-control" id="fecha_i" /> 
                                </div>

                                <div class="form-group col-lg-2 col-2">
                                    <label for="fecha_f">Fecha fin</label>
                                    <input type="date" class="form-control" id="fecha_f" /> 
                                </div>

                                <div class="form-group col-lg-1 col-1">
                                    <label>Buscar</label>
                                    <button onclick="cargar_fechas();" class="btn btn-info"> <i class="fa fa-search"></i> </button>
                                </div>

                                <div class="form-group col-lg-1 col-1">
                                    <label>Todo</label>
                                    <button onclick="cargar_contenido('contenido_principal','/movimientos_cerdo');" class="btn btn-success"> <i class="fa fa-eye"></i> </button>
                                </div>

                                <div class="form-group col-lg-12 col-12">
                                    <table id="tabla_movimientos"
                                        class="table table-display table-hover responsive nowrap text-center"
                                        style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>Fecha de movi.</th>
                                                <th>Desde el galpón:</th> 
                                                <th>Al galpón:</th>
                                                <th>Código cerdo:</th>
                                                <th>Foto</th>
                                                <th>Sexo</th>
                                                <th>Raza</th>
                                                <th>Nombre</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            {% for cerdos in dicc.cerdos %}
                  
                                            <tr>
                                                <td> {{cerdos[0]}} </td> 
                                                <td> {{cerdos[1]}}  </td>                                               
                                                <td> {{cerdos[2]}}  </td> 
                                                <td> {{cerdos[3]}}  </td> 
                                                <td> <img class='img-circle' src='static/uploads/cerdo/{{cerdos[6]}} ' width='50px' /> </td> 
                                                <td> {{cerdos[4]}}  </td> 
                                                <td> {{cerdos[5]}}  </td> 
                                                <td> {{cerdos[7]}}  </td> 
                                                
                                            </tr>
                                          
                                            {% endfor %}
                  
                                          </tbody>

                                        <tfoot>
                                            <tr>
                                                <th>Fecha de movi.</th>
                                                <th>Desde el galpón:</th> 
                                                <th>Al galpón:</th>
                                                <th>Código cerdo:</th>
                                                <th>Foto</th>
                                                <th>Sexo</th>
                                                <th>Raza</th>
                                                <th>Nombre</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row"></div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function() {
        var n = new Date();
        var y = n.getFullYear();
        var m = n.getMonth() + 1;
        var d = n.getDate();
        if (d < 10) {
            d = '0' + d;
        }
        if (m < 10) {
            m = '0' + m;
        }
        document.getElementById("fecha_i").value = y + "-" + m + "-" + d; 
        document.getElementById("fecha_f").value = y + "-" + m + "-" + d; 
    });

    $("#tabla_movimientos").DataTable({
        language: {
            rows: "%d fila seleccionada",
            processing: "Tratamiento en curso...",
            search: "Buscar&nbsp;:",
            lengthMenu: "Agrupar en _MENU_ items",
            info: "Mostrando los item (_START_ al _END_) de un total _TOTAL_ items",
            infoEmpty: "No existe datos.",
            infoFiltered: "(filtrado de _MAX_ elementos en total)",
            infoPostFix: "",
            loadingRecords: "Cargando...",
            zeroRecords: "No se encontro resultados en tu busqueda",
            emptyTable: "No hay movimientos disponibles en la tabla",
            paginate: {
            first: "Primero",
            previous: "Anterior",
            next: "Siguiente",
            last: "Ultimo",
            },
            select: {
            rows: "%d fila seleccionada",
            },
            aria: {
            sortAscending: ": active para ordenar la columa en orden ascendente",
            sortDescending: ": active para ordenar la columna en orden descendente",
            },
        },

        select: true,
        responsive: "true",
        dom: "Bfrtilp",
        buttons: [
            {
            extend: "excelHtml5",
            text: "Excel",
            titleAttr: "Exportar a Excel",
            className: "btn btn-success greenlover",
            },
            {
            extend: "pdfHtml5",
            text: "PDF",
            titleAttr: "Exportar a PDF",
            className: "btn btn-danger redfule",
            },
            {
            extend: "print",
            text: "Imprimir",
            titleAttr: "Imprimir",
            className: "btn btn-primary azuldete",
            },
        ],
    });

    function cargar_fechas(){
        var f_i = document.getElementById("fecha_i").value;
        var f_f = document.getElementById("fecha_f").value;

        if (f_i > f_f) {
            return Swal.fire(
                "Mensaje de advertencia",
                "La fecha inicio '" +
                f_i +
                "' es mayor a la fecha final '" +
                f_f +
                "'",
                "warning"
            );
        }

        cargar_contenido('contenido_principal','/movimientos_cerdo_fecha/'+f_i+'/'+f_f+'');
    }
</script>
