<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"><i class="fa fa-list"></i> Listado de cerdos tratados</h1>
        </div>
  
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/Admin">Inicio</a></li>
            <li class="breadcrumb-item active">Lista cerdos tratados</li>
          </ol>
        </div>
      </div>
    </div>
  
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-12">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title"> Listado de cerdos tratados</h3>
              </div>
  
              <div class="card-body">
                <div class="row">
                  <div class="form-group col-lg-12 col-12">
                    <table id="tabla_espera" class="table table-display table-hover responsive nowrap text-center"
                      style="width: 100%">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Acci&oacute;n</th>
                          <th>Cerdos</th>
                          <th>Veterinario</th>
                          <th>Fecha</th>
                          <th>Sintomas</th>
                          <th>Diagnóstico</th> 
                          <th>Estado</th>
                        </tr>
                      </thead>

                      <tbody>

                        {% for c in data.enfer %}

                        <tr>
                          <td>
                            <td> <a title="Ver enfermedades del cerdo" onclick="modal_enfermedad_detalle_tratado({{c[0]}})" class="btn btn-outline-warning"><i class="fa fa-eye"></i></a> </td>
                            <td> {{c[1]}}Kg </td>
                            <td> {{c[2]}}  </td>
                            <td> {{c[3]}}  </td>
                            <td> {{c[4]}}  </td>  
                            <td> {{c[5]}}  </td>  
                            <td> <span style="font-size: 13px;" class="badge badge-success">Cerdo tratado</span> </td>
                        </tr>
                      
                        {% endfor %}

                      </tbody>
  
                      <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Acci&oacute;n</th>
                            <th>Cerdos</th>
                            <th>Veterinario</th>
                            <th>Fecha</th>
                            <th>Sintomas</th>
                            <th>Diagnóstico</th> 
                            <th>Estado</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row"></div>
      </div>
    </section>
</div>
  
<div class="modal fade" id="modal_enfermedades_cerdo">
<div class="modal-dialog modal-lg">
    <div class="modal-content bg-primary">
    <div class="modal-header">
        <h4 class="modal-title">Enfermedades tratadas del cerdo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="background: white; color: black"> 

        <div class="row">
        
        <table id="tabla_enfermedad_cerdo" class="table table-bordered table-hover nowrap text-center" style="width: 100%">
            <thead>
            <tr>
                <th>#</th>  
                <th>Enfermedad</th> 
            </tr>
            </thead>

            <tbody id="tbody_enfermedad">

            </tbody>

            <tfoot>
            <tr>
                <th>#</th>  
                <th>Enfermedad</th>
            </tr>
            </tfoot>
        </table>
        
        </div>

    </div>
    
    <div class="modal-footer justify-content-between" style="background: #f5f4f3 !important">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
        Cerrar
        </button> 
    </div>

    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
  
<script src="static/js/enfermedades.js"></script>

<script>
    $("#tabla_espera").DataTable({
        language: {
            rows: "%d fila seleccionada",
            processing: "Tratamiento en curso...",
            search: "Buscar&nbsp;:",
            lengthMenu: "Agrupar en _MENU_ items",
            info: "Mostrando los item (_START_ al _END_) de un total _TOTAL_ items",
            infoEmpty: "No existe datos.",
            infoFiltered: "(filtrado de _MAX_ elementos en total)",
            infoPostFix: "",
            loadingRecords: "Cargando...",
            zeroRecords: "No se encontro resultados en tu busqueda",
            emptyTable: "No hay datos disponibles en la tabla",
            paginate: {
                first: "Primero",
                previous: "Anterior",
                next: "Siguiente",
                last: "Ultimo",
            },
            select: {
                rows: "%d fila seleccionada",
            },
            aria: {
                sortAscending: ": active para ordenar la columa en orden ascendente",
                sortDescending: ": active para ordenar la columna en orden descendente",
            },
            },
    });
</script>