<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"><i class="fa fa-paw"></i> Crear cerdo</h1>
            </div>

            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin">Inicio</a></li>
                    <li class="breadcrumb-item active">Crear cerdo</li>
                </ol>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Nuevo cerdo</h3>
                        </div>

                        <div class="card-body">
                            <div class="row">

                                <div class="form-group col-lg-3 col-6">
                                    <label for="codigo_cerdo">Codigo del cerdo</label>
                                    <input type="text" maxlength="20" class="form-control" id="codigo_cerdo"
                                        value="{{codigo}}" placeholder="Ingrese codigo del cerdo"
                                        onkeypress="return soloNumeros(event)" />
                                    <span style="color: red" id="codigo_oblig"></span>
                                </div>

                                <div class="form-group col-lg-9 col-6">
                                    <label for="nombre">Nombre o Alias del cerdo</label>
                                    <input type="text" maxlength="70" class="form-control" id="nombre"
                                        placeholder="Ingrese nombre" onkeypress="return soloLetras(event)" />
                                    <span style="color: red" id="nombre_obligg"></span>
                                </div>

                                <div class="form-group col-lg-3 col-6">
                                    <label for="sexo_cerdo">Sexo</label>
                                    <select class="form-control" style="width: 100%" id="sexo_cerdo">
                                        <option value="Macho">Macho</option>
                                        <option value="Hembra">Hembra</option>
                                    </select>
                                    <span style="color: red" id="sexo_obligg"></span>
                                </div>

                                <div class="form-group col-lg-5 col-6">
                                    <label for="raza_id">Razas de cerdo</label>
                                    <select class="form-control raza_id" style="width: 100%" id="raza_id">
                                        <option value="0">--- Seleccione la raza ---</option>

                                        {% for datas in data %}
                                        <option value="{{datas[0]}}">{{datas[1]}}</option>
                                        {% endfor %}
                                    </select>
                                    <span style="color: red" id="raza_obligg"></span>
                                </div>

                                <div class="form-group col-lg-4 col-6">
                                    <label for="peso">Peso del cerdo (Kg)</label>
                                    <input type="number" maxlength="10" class="form-control" id="peso"
                                        placeholder="Ingrese peso (Kg)" />
                                    <span style="color: red" id="peso_obligg"></span>
                                </div>


                                <div class="form-group col-lg-8 col-6">
                                    <label for="origen">Origen del cerdo</label>
                                    <input type="text" maxlength="80" class="form-control" id="origen"
                                        placeholder="Ingrese origen" />
                                    <span style="color: red" id="origen_obligg"></span>
                                </div>

                                <div class="form-group col-lg-4 col-6">
                                    <label for="fecha">Fecha de origen</label> 
                                    <input type="date" class="form-control" id="fecha" />
                                    <span style="color: red" id="fecha_obligg"></span> 
                                </div>

                                <div class="form-group col-lg-12 col-6">
                                    <label for="detalle_c">Detalle del cerdo</label> 
                                    <textarea class="form-control" id="detalle_c" cols="10" rows="3"> </textarea>
                                    <span style="color: red" id="detalle_c_obligg"></span> 
                                </div>
                                
                                <div class="col-md-6 mb-3 mx-auto text-center">
                                    <label for="password_c">Foto del cerdo</label>

                                    <img id="img_producto" height="197" width="200"
                                        class="border rounded mx-auto d-block img-fluid"
                                        src="static/uploads/cerdo/cerdo.jpg" />

                                    <input type="file" class="form-control" id="foto" onchange="mostrar_imagen(this)" />
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button onclick="registrar_cerdo();" class="btn btn-success">
                                <i class="fa fa-save"></i> Guadar
                            </button>
                            -
                            <button onclick="cargar_contenido('contenido_principal','/new_cerdo');"
                                class="btn btn-danger">
                                <i class="fa fa-svae"></i> Limpiar
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row"></div>
        </div>
    </section>
</div>

<script src="static/js/cerdos.js"></script>

<script>
    $(".raza_id").select2();
    
    function mostrar_imagen(input) {
        var filename = document.getElementById("foto").value;
        var idxdot = filename.lastIndexOf(".") + 1;
        var extfile = filename.substr(idxdot, filename.length).toLowerCase();
        if (extfile == "jpg" || extfile == "jpeg" || extfile == "png") {
            if (input.files) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#img_producto")
                        .attr("src", e.target.result)
                        .width(200)
                        .height(197);
                };
                reader.readAsDataURL(input.files[0]);
            }
        } else {
            swal.fire(
                "Mensaje de alerta",
                "Solo se aceptan imagenes - USTED SUBIO UN ARCHIVO CON LA EXTENCIO ." +
                extfile,
                "warning"
            );
            $("#img_producto")
                .attr("src", "static/uploads/cerdo/cerdo.jpg")
                .width(200)
                .height(197);
            return (document.getElementById("foto").value = "");
        }
    }
</script>