<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0"><i class="fa fa-list"></i> Listado de usuarios</h1>
      </div>

      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/Admin">Inicio</a></li>
          <li class="breadcrumb-item active">Lista usuarios</li>
        </ol>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Listado de usuarios</h3>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="form-group col-lg-12 col-12">
                  <table id="tabla_usuario_" class="table table-display table-hover responsive nowrap text-center"
                    style="width: 100%">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Acci&oacute;n</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Usuario</th>
                        <th>Rol</th>
                        <th>Foto</th>
                        <th>Domicilio</th>
                        <th>Telefono</th>
                        <th>Password</th>
                        <th>Correo</th>
                        <th>Estado</th>
                      </tr>
                    </thead>

                    <tfoot>
                      <tr>
                        <th>#</th>
                        <th>Acci&oacute;n</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Usuario</th>
                        <th>Rol</th>
                        <th>Foto</th>
                        <th>Domicilio</th>
                        <th>Telefono</th>
                        <th>Password</th>
                        <th>Correo</th>
                        <th>Estado</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row"></div>
    </div>
  </section>
</div>

<div class="modal fade" id="modaleditar_usuario">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-primary">
      <div class="modal-header">
        <h4 class="modal-title">Editar usuario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background: white; color: black">
        <input type="text" id="id_usuario" hidden />

        <div class="row">
          <div class="form-group col-lg-6 col-6">
            <label for="nombres">Nombres</label>
            <input type="text" maxlength="60" class="form-control" id="nombres" placeholder="Ingrese nombres"
              onkeypress="return soloLetras(event)" />
            <span style="color: red" id="nombre_oblig"></span>
          </div>

          <div class="form-group col-lg-6 col-6">
            <label for="apellidos">Apellidos</label>
            <input type="text" maxlength="60" class="form-control" id="apellidos" placeholder="Ingrese apellidos"
              onkeypress="return soloLetras(event)" />
            <span style="color: red" id="apellidos_obligg"></span>
          </div>

          <div class="form-group col-lg-6 col-6">
            <label for="domicilio">Domicilio</label>
            <input type="text" maxlength="60" class="form-control" id="domicilio" placeholder="Ingrese domicilio" />
            <span style="color: red" id="domicilio_obligg"></span>
          </div>

          <div class="form-group col-lg-6 col-6">
            <label for="telefono">Telefono</label>
            <input type="text" maxlength="10" class="form-control" id="telefono" placeholder="Ingrese telefono"
              onkeypress="return soloNumeros(event)" />
            <span style="color: red" id="telefono_obligg"></span>
          </div>

          <div class="form-group col-lg-6 col-6">
            <label for="rol_id">Rol de usuario</label>
            <select class="form-control" style="width: 100%" id="rol_id">
              <option value="0">--- Seleccione rol de usuario ---</option>

              {% for datas in data %}
              <option value="{{datas[0]}}">{{datas[1]}}</option>
              {% endfor %}
            </select>
            <span style="color: red" id="rol_obligg"></span>
          </div>

          <div class="form-group col-lg-6 col-6">
            <label for="usuario">Usuario</label>
            <input type="text" maxlength="35" class="form-control" id="usuario" placeholder="Ingrese usuario" />
            <span style="color: red" id="usuario_obligg"></span>
          </div>

          <div class="form-group col-lg-6 col-6">
            <label for="correo">Correo</label>
            <input type="text" maxlength="60" class="form-control" id="correo"
              placeholder="Ingrese correo" />
            <span style="color: red" id="correo_obligg"></span>
          </div>

        </div>
      </div>
      <div class="modal-footer justify-content-between" style="background: #f5f4f3 !important">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Cerrar
        </button>
        <button onclick="editar_usuario();" class="btn btn-success">
          <i class="fa fa-edit"></i> Guardar
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal_editar_foto">
  <div class="modal-dialog">
    <div class="modal-content bg-warning">
      <div class="modal-header">
        <h4 class="modal-title">Editar foto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background: white; color: black">
        <input type="text" id="id_usuario_foto" hidden />
        <input type="text" id="foto_actu" hidden>

        <div class="row">

          <div class="col-md-12 mb-3 mx-auto text-center">
            <label for="password_c">Foto del usuario</label>

            <img id="img_usuario" height="200" width="300" class="border rounded mx-auto d-block img-fluid" />

            <input type="file" class="form-control" id="foto_new" />
          </div>


        </div>
      </div>
      <div class="modal-footer justify-content-between" style="background: #f5f4f3 !important">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Cerrar
        </button>
        <button onclick="editar_foto_usuario();" class="btn btn-success">
          <i class="fa fa-edit"></i> Guardar
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<script src="static/js/usuario.js"></script>

<script>
  lista_usuarios();

  document.getElementById("foto_new").addEventListener("change", () => {
    var filename = document.getElementById("foto_new").value;
    var idxdot = filename.lastIndexOf(".") + 1;
    var extfile = filename.substr(idxdot, filename.length).toLowerCase();
    if (extfile == "jpg" || extfile == "jpeg" || extfile == "png") { } else {
      swal.fire(
        "Mensaje de alerta",
        "Solo se aceptan imagenes - USTED SUBIO UN ARCHIVO CON LA EXTENCIO ." + extfile,
        "warning"
      );
      document.getElementById("foto_new").value = "";
    }
  });

  $("#correo").keyup(function() {
    if (this.value != "") {
        document.getElementById('correo').addEventListener('input', function() {
            campo = event.target;
            //este codigo me da formato email
            email = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;

            //esto es para validar si es un email valida
            if (email.test(campo.value)) {
                //estilos para cambiar de color y ocultar el boton
                $(this).css("border", "1px solid green");
                $("#correo_obligg").html("");
                // $("#ocutar_p").show();
            } else {
                $(this).css("border", "1px solid red");
                $("#correo_obligg").html("Email incorrecto");
                // $("#ocutar_p").hide();
            }
        });
    } else {
        $(this).css("border", "1px solid green");
        $("#correo_obligg").html("");
    }
  });
</script>