<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">
            <i class="fa fa-list"></i> Compras de alimentos
          </h1>
        </div>
  
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/Admin">Inicio</a></li>
            <li class="breadcrumb-item active">Compras de alimentos</li>
          </ol>
        </div>
      </div>
    </div>
  
    <section class="content">
      <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-12">
                <div class="card card-dark">
                  <div class="card-header">
                    <h3 id="unir_texto" class="card-title"> Compras</h3>
                  </div>
      
                  <div class="card-body">
                    <div class="row">
    
                      <div class="form-group col-lg-12 col-12">
 
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Lista de Compras</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Registro de Compras</a>
                            </li> 
                          </ul>
                          <div class="tab-content" id="pills-tabContent">

                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                                <div class="card card-info">
                                    <div class="card-header">
                                      <h3 id="unir_texto" class="card-title"> Listado de Compras</h3>
                                    </div>
                        
                                    <div class="card-body">
                                      <div class="row">
                      
                                        <div class="form-group col-lg-12 col-12">
                  
                                          <table
                                          id="tabla_compra_alimento"
                                          class="table table-display table-hover responsive nowrap text-center"
                                          style="width: 100%" >
                                          <thead>
                                            <tr> 
                                              <th style="width: 1px;">#</th>
                                              <th>Acci&oacute;n</th>
                                              <th>Usuario</th>
                                              <th>Proveedor</th>
                                              <th>Fecha</th>
                                              <th>N° compra</th>
                                              <th>Tipo documento</th>
                                              <th>Iva</th>
                                              <th>Subtotal</th>
                                              <th>Impuesto</th> 
                                              <th>Total</th> 
                                              <th>Estado</th> 
                                            </tr>
                                          </thead>

                                          <tbody>

                                            {% for c in data.lista %}
                  
                                            <tr>
                                              <td></td>
                                                {% if c[10] == True %}
                                                <td> <button onclick="anular_compa_alimento({{c[0]}});" class="btn btn-outline-danger"><i class="fa fa-times"></i></button> 
                                                - 
                                                <a target="_blank" href="/reporte/compra_alimento/{{c[0]}}" class="btn btn-outline-primary"><i class="fa fa-file"></i></a> </td>
                                                {% else %}
                                                <td> <a target="_blank" href="/reporte/compra_alimento/{{c[0]}}" class="btn btn-outline-primary"><i class="fa fa-file"></i></a></td>
                                                {% endif %} 
 
                                                <td> {{c[1]}} </td>
                                                <td> {{c[2]}}  </td>
                                                <td> {{c[3]}}  </td>
                                                <td> {{c[4]}}  </td>  
                                                
                                                  {% if c[5] == "Factura" %}
                                                  <td> <span style="font-size: 13px;" class="badge badge-success">Factura</span> </td>
                                                  {% else %}
                                                  <td> <span style="font-size: 13px;" class="badge badge-warning">Nota compra</span> </td>
                                                  {% endif %}                                                

                                                <td> {{c[6]}} % </td> 
                                                <td>$ {{c[7]}}  </td> 
                                                <td>$ {{c[8]}} </td>
                                                <td>$ {{c[9]}}  </td> 

                                                {% if c[10] == True %}
                                                <td> <span style="font-size: 13px;" class="badge badge-success">Activo</span> </td>
                                                {% else %}
                                                <td> <span style="font-size: 13px;" class="badge badge-danger">Anulado</span> </td>
                                                {% endif %} 
                                                 
                                            </tr>
                                          
                                            {% endfor %}
                  
                                          </tbody>
                      
                                          <tfoot>
                                            <tr> 
                                              <th>#</th>
                                              <th>Acci&oacute;n</th>
                                              <th>Usuario</th>
                                              <th>Proveedor</th>
                                              <th>Fecha</th>
                                              <th>N° compra</th>
                                              <th>Tipo documento</th>
                                              <th>Iva</th>
                                              <th>Subtotal</th>
                                              <th>Impuesto</th> 
                                              <th>Total</th> 
                                              <th>Estado</th> 
                                            </tr>
                                          </tfoot>
                                        </table>
 
                                        </div>
                      
                                      </div>
                                    </div>
                                </div>

                            </div>
                             
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                              <div class="card card-success">
                                <div class="card-header">
                                  <h3 id="unir_texto" class="card-title"> Registro de compras</h3>
                                </div>
                    
                                <div class="card-body">
                                  
                                  <div class="row">
                                    <div class="form-group col-lg-9 col-6 text-center">
                                       <div class="row" style="border: solid 1px; border-radius: 10px;">

                                        <div class="form-group col-lg-12 col-6 text-center">
                                            <label for="proveedor">Proveedor:</label>
                                            <select class="form-control proveedor_select" style="width: 100%" id="proveedor">
                                                <option value="0">--- Seleccione proveedor ---</option>    
                                                {% for datas in data.proveedor %}
                                                <option value="{{datas[0]}}">Razón social: {{datas[1]}} - Rúc: {{datas[2]}}</option>
                                                {% endfor %}
                                            </select>
                                            <span style="color: red" id="proveedor_obligg"></span>
                                        </div>
        
                                        <div class="form-group col-lg-4 col-6">
                                            <label for="fecha_c">Fecha</label>
                                            <input type="date" class="form-control" value="{{data.fecha}}" id="fecha_c" />
                                            <span style="color: red" id="fecha_c_obligg"></span>
                                        </div>

                                        <div class="form-group col-lg-4 col-6">
                                            <label for="numero_compra">Número compra</label>
                                            <input type="text" maxlength="15" class="form-control" id="numero_compra" placeholder="Ingrese numero compra" onkeypress="return soloNumeros(event)" />
                                            <span style="color: red" id="numero_c_obligg"></span>
                                        </div>

                                        <div class="form-group col-lg-4 col-6">
                                            <label for="tipo_comprobante">Tipo comprobante</label>
                                            <select class="form-control" style="width: 100%" id="tipo_comprobante">
                                                <option value="Factura">Factura</option>
                                                <option value="nota_venta">Nota de venta</option>
                                            </select>                                       
                                        </div>

                                        <div class="form-group col-lg-3 col-6">
                                            <label for="iva">Impuesto iva%</label>
                                            <input type="text" maxlength="2" class="form-control" id="iva" value="12" placeholder="Ingrese Iva" onkeypress="return soloNumeros(event)" />
                                            <span style="color: red" id="ivaa_obligg"></span>
                                        </div>

                                        <div class="form-group col-lg-1 col-6">
                                            <label for="iva">Buscar</label>
                                            <button class="btn btn-info" onclick="ver_alimentos_comprar();"><i class="fa fa-search"></i> </button>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="form-group col-lg-1 col-6 text-center">
                                    </div>

                                    <div class="form-group col-lg-2 col-6 text-center  ">
                                      <div class="row" style="border: solid 1px; border-radius: 10px;">
       
                                       <div class="form-group col-lg-12 col-6">
                                           <label for="subtotal">Subtotal:</label>
                                           <input readonly type="number" class="form-control" value="0.00" id="subtotal" /> 
                                       </div>

                                       <div class="form-group col-lg-12 col-6">
                                        <label for="impuesto_sub">Impuesto:</label>
                                        <input readonly type="number" class="form-control" value="0.00" id="impuesto_sub" /> 
                                       </div>

                                       <div class="form-group col-lg-12 col-6">
                                        <label for="total_pagar">Total a pagar:</label>
                                        <input readonly type="number" class="form-control" value="0.00" id="total_pagar" /> 
                                       </div>

                                     </div>
                                   </div>

                                    <div class="form-group col-lg-12 col-6 text-center">
                                        <h3> <span class="badge badge-dark"><b>.:Detalle compra:.</b></span> </h3>                                
                                        <h3 id="unir_no_hay">  </h3> 
                                        <table id="tabla_compra_alimento" class="table table-display table-hover responsive nowrap text-center">
                                            <thead style="background: orange;">
                                                <tr>                              
                                                    <th hidden>Id</th>
                                                    <th>Código</th> 
                                                    <th>Alimento</th> 
                                                    <th>Precio</th> 
                                                    <th>Cantidad</th>
                                                    <th>Descuento $</th>
                                                    <th>Total</th>
                                                    <th>Quitar</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody_tabla_compra_alimento">                  
                    
                                            </tbody>
                                        </table>
                                    </div>

                                  </div> 
                                
                                </div> 

                                <div class="card-footer">
                                  <button onclick="registra_compra_alimento();" class="btn btn-success">
                                      <i class="fa fa-save"></i> Guadar
                                  </button>
                                  -
                                  <button onclick="cargar_contenido('contenido_principal','/compra_alimento');"
                                      class="btn btn-danger">
                                      <i class="fa fa-svae"></i> Volver
                                  </button>
                                </div>

                            </div>

                          </div> 
                        </div>
    
                    </div>
                  </div>
                </div>
            </div>
            
        </div>

    </section>
  </div>
  
<script src="static/js/compras.js"></script> 

<div class="modal fade" id="modal_alimentos_compra">
    <div class="modal-dialog modal-xl">
        <div class="modal-content bg-success">
            <div class="modal-header">
                <h4 class="modal-title">Alimentos disponibles</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background: white; color: black">
  
                <div class="row">
  
                    <div class="form-group col-lg-12 col-6">
                        
                        <table id="tabla_alimento_compra" class="table table-display table-hover responsive nowrap text-center" style="width: 100%" >
                        <thead>
                          <tr>
                            <th hidden>#</th>
                            <th>Acci&oacute;n</th>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Tipo alimento</th>
                            <th>Marca alimento</th>
                            <th>Foto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Peso (Kg)</th> 
                          </tr>
                        </thead>

                        <tbody id="tbody_tabla_pasar">

                            {% for a in data.alimentos %}
  
                            <tr>
                                <td hidden>{{a[0]}}</td>
                                <td><buttin class="evniar_detalle btn btn-success"><i class="fa fa-check"></i> </button></td>
                                <td>{{a[1]}}</td>
                                <td>{{a[2]}}</td>
                                <td>{{a[8]}}</td>
                                <td>{{a[7]}}</td>                                
                                <td><img class='img-circle' src='static/uploads/alimento/{{a[6]}}' width='50px' /></td>
                                <td> <span style="font-size: 15px;" class="badge badge-warning">{{a[3]}}</span></td>
                                <td>{{a[4]}}</td>
                                <td>{{a[5]}} Kg</td> 
                              </tr>
                          
                            {% endfor %}
  
                          </tbody>
    
                        <tfoot>
                          <tr>
                            <th hidden>#</th>
                            <th>Acci&oacute;n</th>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Tipo alimento</th>
                            <th>Marca alimento</th>
                            <th>Foto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Peso (Kg)</th> 
                          </tr>
                        </tfoot>
                      </table>

                    </div>  
      
                </div> 
            </div>
            <div class="modal-footer justify-content-between" style="background: #f5f4f3 !important">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cerrar
                </button> 
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>  
    $("#tabla_compra_alimento").DataTable({
      language: {
        rows: "%d fila seleccionada",
        processing: "Tratamiento en curso...",
        search: "Buscar&nbsp;:",
        lengthMenu: "Agrupar en _MENU_ items",
        info: "Mostrando los item (_START_ al _END_) de un total _TOTAL_ items",
        infoEmpty: "No existe datos.",
        infoFiltered: "(filtrado de _MAX_ elementos en total)",
        infoPostFix: "",
        loadingRecords: "Cargando...",
        zeroRecords: "No se encontro resultados en tu busqueda",
        emptyTable: "No hay datos disponibles en la tabla",
        paginate: {
          first: "Primero",
          previous: "Anterior",
          next: "Siguiente",
          last: "Ultimo",
        },
        select: {
          rows: "%d fila seleccionada",
        },
        aria: {
          sortAscending: ": active para ordenar la columa en orden ascendente",
          sortDescending: ": active para ordenar la columna en orden descendente",
        },
      },
    });

    $(".proveedor_select").select2();

    $("#tabla_alimento_compra").DataTable({
        language: {
            rows: "%d fila seleccionada",
            processing: "Tratamiento en curso...",
            search: "Buscar&nbsp;:",
            lengthMenu: "Agrupar en _MENU_ items",
            info: "Mostrando los item (_START_ al _END_) de un total _TOTAL_ items",
            infoEmpty: "No existe datos.",
            infoFiltered: "(filtrado de _MAX_ elementos en total)",
            infoPostFix: "",
            loadingRecords: "Cargando...",
            zeroRecords: "No se encontro resultados en tu busqueda",
            emptyTable: "No hay datos disponibles en la tabla",
            paginate: {
              first: "Primero",
              previous: "Anterior",
              next: "Siguiente",
              last: "Ultimo",
            },
            select: {
              rows: "%d fila seleccionada",
            },
            aria: {
              sortAscending: ": active para ordenar la columa en orden ascendente",
              sortDescending: ": active para ordenar la columna en orden descendente",
            },
          },
    });

    function ver_alimentos_comprar(){
        $("#modal_alimentos_compra").modal({ backdrop: "static", keyboard: false });
        $("#modal_alimentos_compra").modal("show");
    }

    $(".evniar_detalle").on("click", function(){
      var iva = $("#iva").val();      
      var id = $(this).parents("tr").find("td")[0].innerHTML;
      var codigo = $(this).parents("tr").find("td")[2].innerHTML;
      var alimento = $(this).parents("tr").find("td")[3].innerHTML +" - "+ $(this).parents("tr").find("td")[4].innerHTML +" - "+$(this).parents("tr").find("td")[5].innerHTML;
      var foto = $(this).parents("tr").find("td")[6].innerHTML;
      var precio = $(this).parents("tr").find("td")[8].innerHTML;

      if(iva.trim() == "" || iva.length == 0){
        $("#ivaa_obligg").html("Ingrese iva");
        $("#modal_alimentos_compra").modal("hide");
        return Swal.fire(
          "Campo vacío",
          "Ingrese un valor en el campos iva",
          "warning"
        );
      }else{
        $("#ivaa_obligg").html("");
      }

      if (validar_alimento_tabla(id)) {
        return Swal.fire(
          "Mensaje de advertencia",
          "El alimento: '" +
          alimento +
            "' , ya fue agregado al detalle",
          "warning"
        );
      }

      var datos_agg = "<tr>";
        datos_agg += "<td hidden for='id'>" + id + "</td>";
        datos_agg += "<td>" + codigo + "</td>";
        datos_agg += "<td>" + alimento + "</td>"; 
        datos_agg += "<td>" + precio + "</td>";   
        
        datos_agg += "<td><input id='cantida_a' style='width: 100px;' type='number' min='1' class='form-control' value='1' placeholder='cantidad' /></td>";
        datos_agg += "<td><input id='descuento_a' style='width: 100px;' type='text' class='form-control' value='0' placeholder='descuento' onkeypress='return soloNumeros(event);' /></td>";
        datos_agg += "<td>" + precio + "</td>";   
        
        datos_agg +=
          "<td> <button class='remover btn btn-danger'><i class='fa fa-trash'></i></button></td>";
        datos_agg += "</tr>";
      
        //esto me ayuda a enviar los datos a la tabla
        $("#tbody_tabla_compra_alimento").append(datos_agg);
        $("#modal_alimentos_compra").modal("hide");
        sumartotalneto();
    });

    function validar_alimento_tabla(id) {
      let idverificar = document.querySelectorAll(
        "#tbody_tabla_compra_alimento td[for='id']"
      );
      return [].filter.call(idverificar, (td) => td.textContent == id).length == 1;
    }

    $("#tbody_tabla_compra_alimento").on("click", ".remover", function () {
      var td = this.parentNode;
      var tr = td.parentNode;
      var table = tr.parentNode;
      table.removeChild(tr);
      sumartotalneto();
    });

    // para la cantidad del producto
    $("#tbody_tabla_compra_alimento").on("keyup", "#cantida_a", function () {
      var cantidad = $(this).parents("tr").find('input[type="number"]').val();
      var descuento = $(this).parents("tr").find('#descuento_a').val();
      var precio = $(this).parents("tr").find("td")[3].innerHTML; 
      var total = parseFloat(precio).toFixed(2) * parseInt(cantidad) - parseInt(descuento);
      $(this).parents("tr").find("td")[6].innerHTML = parseFloat(total).toFixed(2);  
      sumartotalneto();    
    });

    $("#tbody_tabla_compra_alimento").on("change", "#cantida_a", function () {
      var cantidad = $(this).parents("tr").find('input[type="number"]').val();
      var descuento = $(this).parents("tr").find('#descuento_a').val();
      var precio = $(this).parents("tr").find("td")[3].innerHTML; 
      var total = parseFloat(precio).toFixed(2) * parseInt(cantidad) - parseInt(descuento);
      $(this).parents("tr").find("td")[6].innerHTML = parseFloat(total).toFixed(2);  
      sumartotalneto();    
    });

    //para el descuento del producto
    $("#tbody_tabla_compra_alimento").on("keyup", "#descuento_a", function () {
      var cantidad = $(this).parents("tr").find('#cantida_a').val();
      var descuento = $(this).parents("tr").find('#descuento_a').val();
      var precio = $(this).parents("tr").find("td")[3].innerHTML; 
      var total = parseFloat(precio).toFixed(2) * parseInt(cantidad) - parseInt(descuento) ;
      $(this).parents("tr").find("td")[6].innerHTML = parseFloat(total).toFixed(2);  
      sumartotalneto();
    });

    function sumartotalneto() {
      let arreglo_total = new Array();
      let count = 0;
      let total = 0;
      let impuestototal = 0;
      let subtotal = 0;
      let impuesto = document.getElementById("iva").value;

      $("#tabla_compra_alimento tbody#tbody_tabla_compra_alimento tr").each(
          function() {
              arreglo_total.push($(this).find("td").eq(6).text());
              count++;
          }
      );

      for (var i = 0; i < count; i++) {
          var suma = arreglo_total[i];
          subtotal = (parseFloat(subtotal) + parseFloat(suma)).toFixed(2);
          impuestototal = parseFloat(subtotal * impuesto / 100).toFixed(2);
      }
      total = (parseFloat(subtotal) + parseFloat(impuestototal)).toFixed(2);

      $("#subtotal").val(subtotal);
      $("#impuesto_sub").val(impuestototal);
      $("#total_pagar").val(total);
 
    }

    $("#tipo_comprobante").on("change", function() {
      var valor = $(this).val();

      if (valor != "Factura") {
          $("#iva").attr("disabled", true);
          $("#iva").val("0");
      } else {
          $("#iva").removeAttr("disabled");
          $("#iva").val("12");
      }
    });
</script>
  